<div class="video-container">
  <video id="myVideo" autoplay muted loop>
    <source src="../../../assets/Person Typing Fast.mp4" type="video/mp4" />
  </video>
  <div class="overlay"></div>
  <div class="bootstrap-wrapper h100">
    <div class="container h100">
      <div class="row h100" style="align-items: center">
        <div class="col-md-6 offset-md-3 text-center text-white">
          <h1>Welcome to Pariksha</h1>
          <h2>Dont Stress.<br>
              Do Your Best.<br>
              Forget the Rest.
          </h2>
          <a mat-raised-button color="primary" routerLink="/login"
            >Get Start !!</a
          >
        </div>

        <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<div class="flex text-white">
						<div>
							<h3>Address</h3>
							<p>CDAC ECITY CENTER, Electronic City Phase 1<br> Bangalore,Karnataka 462003</p>
						</div>

						<div style="margin-left: 10%;">
							<h3>Contact Number</h3>
							<p>+(91) **********</p>
						</div>

						<div style="margin-right: 20%;">
							<h3>Email Address</h3>
							<p>pariksha@gmail.com</p>
						</div>
					</div>
				</div>
			</section>

<script>
  var vid = document.getElementById("myVideo");
  vid.muted = true;
</script>
